
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;900;1000&display=swap");
body {
    font-family: "Cairo", sans-serif;
  
color: #f5f5f5;
background-color: #f5f5f5;
overflow-x: hidden;
}







.navbar-brand{
  width: 50px;

}

.navbar-brand img{
  width: 100%;
  margin-right: 100px;

}

header{padding: 0;
  margin:0;
  width: 100%;
  top: 0;
  left: 0;
  position: sticky !important;
  z-index: 1000;
  
}
.navbar .collapse{
  margin-right: 100px;
}


.nam {
  color: goldenrod;
  text-transform: capitalize;
 
}

.btn
{
   
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
     text-decoration: none;
       color: #f5f5f5;
       font-weight: 300;
       font-size: 1em;
       margin-top: 50px;

}

.btn-primary {
    color: goldenrod;
    border: 2px solid goldenrod;
   
    background-color: #f5f5f5;
  padding: 1em , 2em;
  text-transform: capitalize;
  
  


}
.btn-primary:hover 
{
background-color:goldenrod;
color: black;
border: 2px solid black;
transform: scale(1.1);
transition: 0.7s ease;
}







.sec-news{
    display: block;
    padding: 20px;
    color: #000;
    width: 100%;

}
.sec-news img{
    width: 70%;
    margin-left: 15%;
     box-shadow: 0 5px 25px rgba(249, 248, 245, 0.3);
     border-radius: 2px;
     margin-top: 20px;
      margin-bottom: 20px;
}
.sec-news p{
    width: 70%;
    margin-left: 15%;
    letter-spacing: 2px;
    font-size: 20px;
}







.news{
  width: 100%;
   min-height: 100vh;
}
.container div{
 
  
  background-color: #f5f5f5;
  min-height: 400px;
  margin-bottom:  30px;
  color: #f5f5f5;
  border-radius: 5px;
   
    box-shadow: 0 5px 25px rgba(249, 248, 245, 0.3);
    transition: 0.7s ease;
    
    /* display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: end; */

    
    
    

    

}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: space-around; */
  flex-direction: row;
  align-items: self-start;
justify-content: space-between;
margin-left: 100px;

}
.container  .news-card1{
  height: 400px;
  background-image: url(../image/651c57978c222.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   padding: 10px;
}
.container  .news-card2{
  height: 400px;
  background-image: url(../image/287bf2cb9de2bce0e2790f102bc76bee.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   padding: 10px;
}
.container  .news-card3{
  height: 400px;
  background-image: url(../image/334838357_426626779668556_1856761134769078031_n-640390b2f3be4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   padding: 10px;
}
.container  .news-card4{
  height: 400px;
  background-image: url(../image/FB_IMG_1680383449130-64289e40dd4f5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   padding: 10px;
}
.container  .news-card5 {
  height: 400px;
  background-image: url(../image/received_244379555064367-64c18185df033.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}
.nus
{
  margin: 30px;
  font-size: 40px;
  font-weight: 600;
  color: black;
  text-transform: capitalize;
}

.container  div:hover{
    transform: scale(1.1,1.1);
}

.container div p{
    margin-top: 200px;
    
    margin-left: 10px;
font-weight: 800;
font-size: 20px;


}







.responser{
    width: 100%;
    margin-top: 20px;
    margin-left: 10px ;
    margin-right: 10px;
    background-color: inherit;


}

.responser ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    justify-content: space-between;   
    
    

}
.responser img{
background-color: inherit;
    width: 160px;
    height: 100px;
}
.responser ul li{
  
  margin: 10px;
  max-height: 1000px;
  max-width: 160px;
   
 
    

}
/* ggm */
.contenqt {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects {
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #f9380c;
}

.more-details:hover {
    color: #fe0000;
}
.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}
.project-info span {
  color: #000016;
}
.title{
  text-transform: capitalize;
}
/*foter--*/
.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color:goldenrod;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    color: goldenrod;
    
}
.footer p{
  margin-top: 30px;
  margin-bottom: 10px;
}

